* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

ul, ol {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FAFAFA;
}

.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

/*Header*/
header {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #FAFAFA;
  background-image: url("./assets/image/hero-cover.3.jpg");
  background-size: 100% 800px;
  background-repeat: no-repeat;
  color: #ffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-navbar {
  position: relative;
  padding: 33px 0;
  z-index: 1;
}

#navbarNav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-right: 80px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #23A6F0;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  cursor: pointer;
  font: 14px "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffff;
  letter-spacing: 0.2px;
}

.menu li a:hover {
  color: #23A6F0;
}

.login {
  font: 14px "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.login:hover {
  color: #23A6F0;
}

.sub-btn {
  margin-left: 45px;
  font: 14px "Montserrat", sans-serif;
  font-weight: 600;
  width: 214px;
  height: 52px;
  background: #23A6F0;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26%;
  color: #ffff;
}

.header-content h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 700px;
  margin: 0 auto;
}

.header-content p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 40px;
}

.header-content .oval-btn {
  background-color: #23A6F0;
  color: white;
  text-align: center;
  padding: 15px 36px;
  margin-top: 40px;
  outline: none;
  border-radius: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.header-content .oval-btn:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

.header-content .oval-btn:last-child {
  border: 1px solid white;
  background-color: transparent;
  margin-left: 10px;
}

.header-content .oval-btn:last-child:hover {
  border-color: #23A6F0;
  background-color: #23A6F0;
}

.header-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-card .header-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
  height: 201.53px;
  color: black;
  background-color: #ffff;
  margin: 0 15px;
  padding: 35px 40px;
  border-radius: 0;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.header-card .header-card-item img {
  width: 20%;
}

.header-card .header-card-item .card-body {
  padding: 0;
  margin-top: 10px;
}

.header-card .header-card-item .card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.header-card .header-card-item .card-body p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.hover-card:hover {
  background-color: #23A6F0;
  border-color: #23A6F0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.hover-card:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.hover-card:hover .card-body h5, .hover-card:hover .card-body p {
  color: #ffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* Value block*/
.value {
  padding-top: 100px;
  padding-bottom: 80px;
}

.value h2, .value p {
  text-align: center;
}

.value h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.value p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 470px;
  margin: 10px auto 80px auto;
}

.value-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: calc(33.333% - 20px);
  margin: 10px;
  padding: 40px 15px;
  cursor: pointer;
  border-radius: 2px;
}

.value-card-item img {
  display: block;
  width: 15%;
  height: 60%;
}

.value-card-item .card-body {
  width: inherit;
  padding: 0;
}

.value-card-item .card-body .card-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  text-align: left;
}

.value-card-item .card-body .card-text {
  width: 210px;
  margin: 0 auto;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

/*Client block*/
.client {
  background-color: #FAFAFA;
  padding-top: 80px;
}

.client-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-stats .big-number-wrapper {
  width: 100%;
  text-align: center;
}

.client-stats .big-number-wrapper .number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #23A6F0;
  cursor: default;
}

.client-stats .big-number-wrapper .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.client-testimo {
  padding: 100px 0;
}

.client-testimo h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.client-testimo > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 470px;
  text-align: center;
  margin: 10px auto 80px auto;
}

.client-testimo .client-card-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-testimo .client-card-wrapper .client-card-item {
  border-width: 0px;
  width: 510px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0 15px;
}

.client-testimo .client-card-wrapper .card-body {
  padding: 40px 30px;
}

.client-testimo .client-card-wrapper .card-body .name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 0;
}

.client-testimo .client-card-wrapper .card-body .job {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  font-weight: 600;
  text-align: left;
}

.client-testimo .client-card-wrapper .card-body .star {
  margin: 16px 0;
}

.client-testimo .client-card-wrapper .card-body .star svg {
  fill: #F3CD03;
}

.client-testimo .client-card-wrapper .card-body .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

/*Pricing block*/
.price {
  background-color: #FAFAFA;
  padding: 100px 0;
}

.price h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.price > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 470px;
  text-align: center;
  margin: 10px auto 80px auto;
}

.price-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price-card-wrapper .price-card-items {
  text-align: center;
  padding: 50px 40px;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  margin: 0.5px;
  width: 340px;
}

.price-card-wrapper .price-card-items.center {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #252B42;
}

.price-card-wrapper .price-card-items.center h3 {
  color: #ffff;
}

.price-card-wrapper .price-card-items.center > p {
  color: #ffff;
}

.price-card-wrapper .price-card-items.center .feature-wrap p {
  color: #ffff;
}

.price-card-wrapper .price-card-items h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 35px;
}

.price-card-wrapper .price-card-items > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
  width: 160px;
  margin: 0 auto;
}

.price-card-wrapper .price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0;
}

.price-card-wrapper .price-wrap .number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #23A6F0;
  margin-right: 10px;
}

.price-card-wrapper .price-wrap .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price-card-wrapper .price-wrap .currency span:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #23A6F0;
}

.price-card-wrapper .price-wrap .currency span:last-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8EC2F2;
}

.price-card-wrapper .feature-wrap .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.price-card-wrapper .feature-wrap .feature-item:last-child {
  margin-bottom: 35px;
}

.price-card-wrapper .feature-wrap .feature-item img {
  margin-right: 18px;
}

.price-card-wrapper .feature-wrap .feature-item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252B42;
  font-weight: 600;
  text-align: left;
}

.price-card-wrapper .sub-btn {
  margin: 0 auto;
  width: 246px;
}

/*Contact*/
.contact {
  background-color: #FAFAFA;
  position: relative;
  height: 830px;
  padding-bottom: 100px;
}

.contact .map-container {
  height: 460px;
}

.contact .map-container img {
  width: 100%;
}

.contact .container-fluid {
  position: absolute;
  height: 85%;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact .contact-form {
  display: block;
  padding: 40px 60px;
  text-align: center;
  background-color: white;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.contact .contact-form h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.contact .contact-form p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact .contact-form .form-control {
  margin: 10px 0;
  border-radius: 5px;
}

.contact .contact-form #inputMessage {
  height: 140px;
  resize: none;
}

.contact .contact-form .sub-btn {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 218px;
}

.contact-bottom {
  bottom: 0%;
  text-align: left;
  padding-bottom: 40px;
}

.contact-bottom .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-bottom h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact-bottom p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact-bottom .sub-btn {
  width: 160px;
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#004788), to(#D71489));
  background-image: linear-gradient(to right, #004788, #D71489);
  padding: 50px 0;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-wrapper .footer-item_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffff;
  text-align: left;
  margin-bottom: 15px;
  cursor: default;
}

footer .footer-wrapper .footer-item_link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffff;
  font-weight: 600;
  line-height: 24px;
  padding: 5px 0;
}

footer .footer-wrapper .footer-item_link:hover a {
  color: #23A6F0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer .footer-wrapper .footer-item_link:hover img {
  -webkit-filter: invert(49%) sepia(100%) saturate(419%) hue-rotate(159deg) brightness(96%) contrast(97%);
          filter: invert(49%) sepia(100%) saturate(419%) hue-rotate(159deg) brightness(96%) contrast(97%);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

footer .footer-wrapper .footer-item_link img {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */