/*<==== Tablet and mobile ====>*/
@media (max-width: 1024px) {
  .hide-all {
    display: none;
  }
  header {
    .my-navbar {
      padding: 36px 0;
      .logo {
        color: #868686;
        z-index: 1;
        margin-left: 25px;
        margin-right: 0;
      }
      .toggle-icon-wrapper {
        button:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
  #navbarNav {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    text-align: center;
    padding: 58px 0;
    .menu {
      margin-top: 70px;
      margin-bottom: 70px;
      .nav-link {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #737373;
        &.current {
          font-weight: normal;
        }
      }
    }
  }
  .about {
    display: block;
  }
}

/*<======Tablet======>*/
@media (min-width: 740px) and (max-width: 1023px) {
  .tablet-hide {
    display: none;
  }
  header {
    background-size: auto 100%;
    background-position: center;
    .header-card {
      justify-content: center;
      bottom: -5%;
      .header-card-item {
        padding-right: 20px;
        padding-left: 20px;
        width: 34%;
        align-items: center;
        img {
          width: 40%;
        }
        .card-body {
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
  #navbarNav {
    form {
      justify-content: center;
      align-items: center;
      .login {
        font-size: 30px;
        line-height: 45px;
        color: #23a6f0;
        font-weight: 600;
        margin-right: 30px;
      }
      .sub-btn {
        margin-left: 0;
      }
    }
  }

/*Value block*/   
  .value {
    padding-top: 120px;
    .value-decs {
      font-size: 18px;
      line-height: 26px;
      width: 524px;
    }
    .value-card-wrapper {
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    .value-card-item {
      border-width: 0;
      width: 45%;
      margin: 10px;
      padding: 50px 20px;
      img {
        margin-right: 20px;
      }
    }
  }
  /*Client block*/ 
  .client {
    padding-top: 0;
    .client-testimo {
      > p {
        font-size: 18px;
        line-height: 26px;
        width: 524px;
      }
      .client-card-wrapper {
        .client-card-item {
          flex-direction: column;
          max-width: 45%;
          align-items: center;
          margin: 0;
          &:first-child {
            margin-right: 15px;
          }
          img{
              height: 440px;
              object-fit: cover;
          }
        }
      }
    }
    
  }

  /*About block*/ 
  .about{
    padding-left: 20px;
    padding-right: 20px;
    >p{
      font-size: 18px;
      line-height: 26px;
      width: 524px;
    }
    .about-video{
      >img{
        height: 600px;
        object-fit: cover;
      }
    }
    .about-content{
      >p{
        font-size: 18px;
        line-height: 26px;
        width: 524px;
      }
      .about-team{
        justify-content: flex-start;
        margin-left: 100px;
        img{
          margin-right: 40px;
          
        }
      }
    }
  }

  /*Price block*/ 
  .price {
    padding: 100px 20px 80px 20px;
    > p {
      width: 524px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .price-card-wrapper {
    .price-card-items {
      padding: 20px 40px;
      width: 95%;
      margin: 10px 0;
      h3 {
        font-size: 45px;
        line-height: 45px;
      }
      .price-card-desc {
        width: fit-content;
        font-size: 17px;
      }
      
      &.center {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .price-wrap {
        .number {
          font-size: 65px;
          line-height: 65px;
        }
        .currency {
          span {
            font-size: 25px;
            line-height: 25px;
          }
        }
      }
    }
  }

  /*Contact block*/ 
  .contact {
    height: 730px;
    .map-container {
      height: 400px;
      img {
        height: 100%;
      }
    }
    .container-fluid {
      form {
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .contact-bottom {
    padding: 0 40px 40px 40px;
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }

  /*Footer*/ 
  footer {
    .footer-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
    .coppy-right-wrapper {
      padding-left: 40px;
      padding-right: 40px;
      .coppy-right_image.mobile {
        display: block;
      }
    }
  }
}

/*<==== Mobile ====>*/
@media (max-width: 739px) {
  .mobile-hide {
    display: none;
  }
  /*Header*/ 
  header {
    height: 2000px;
    background-image: url("./assets/image/background.png");
    background-size: auto;
    background-repeat: no-repeat;
    .overlay {
      height: 100%;
    }
    .header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 15%;
      h1 {
        font-size: 40px;
        line-height: 57px;
        width: 340px;
      }
      p {
        width: 300px;
      }
      .oval-btn {
        margin-top: 30px;
        &:last-child {
          margin-left: 0;
        }
      }
    }
    .header-card {
      flex-direction: column;
      .header-card-item:nth-child(2) {
        margin: 30px auto;
      }
    }
  }
  #navbarNav {
    form {
      flex-direction: column;
      .login {
        font-size: 30px;
        line-height: 45px;
        color: #23a6f0;
        font-weight: 600;
        margin-bottom: 24px;
      }
      .sub-btn {
        margin-left: 0;
      }
    }
  }

  /*Value*/
  .value {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 0;
    .value-title {
      width: 80%;
      margin: 0 auto;
    }
    .value-decs {
      width: 262px;
      margin-bottom: 60px;
    }
    .value-card-item {
      border-width: 0;
      width: 100%;
      margin: 0;
      padding: 40px;
      img {
        margin-right: 20px;
      }
    }
  }

  /*Client block*/ 
  .client {
    padding-top: 0;
    .client-stats {
      background-color: white;
      padding: 80px 0;
    }
    .big-number-wrapper {
      margin: 50px 0;
    }
    .client-testimo {
      padding: 75px 0;

      h2,
      > p {
        width: 300px;
        margin: 0 auto 10px auto;
      }
      .client-card-item {
        background-color: #fafafa;
        flex-direction: column;
        padding: 0 40px;
        &:first-child {
          margin-top: 60px;
          margin-bottom: 30px;
        }
        img.mobile{
            display: block;
            height: 248px;
        }
        .card-body {
          background-color: white;
        }
      }
    }
  }

  /*Price block*/ 
  .price {
    padding: 45px 40px 0;
    > p {
      width: 264px;
      margin-bottom: 60px;
    }
    .price-card-items {
      padding: 50px 30px;
      border-radius: 0;
      margin: 15px 0;
      &:last-child {
        margin-bottom: 80px;
      }
    }
  }
  .contact-bottom {
    padding: 40px 30px;
    p {
      margin: 10px 0 50px 0;
    }
    .sub-btn {
      margin-left: 12px;
    }
  }
  .subscribe-mobile {
    display: block;
  }

  /*Footer*/ 
  footer {
    display: flex;
    flex-direction: column;
    .footer-wrapper {
      padding: 55px 0 55px 80px;
      .footer-item {
        margin: 15px 0;
      }
    }
    .coppy-right-wrapper {
      margin: 0 auto;
      .container-fluid {
        flex-direction: column;
        padding: 25px 60px 50px 80px;
      }
      .coppy-right_image {
        margin-top: 50px;
      }
      .coppy-right_image.mobile {
        display: block;
      }
    }
  }
}
