*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
p{
    margin: 0;
}

ul,ol{
    list-style-type: none !important; 
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:inherit
}
.app {
    overflow: hidden;
}
.wrapper {
    max-width:1440px;
    margin: 0 auto;
    background-color: #FAFAFA;
}
.container-fluid {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

$Montserrat : 'Montserrat', sans-serif;
$light-text-color: #ffff;
$text-color :#252B42;
$second-text-color: #737373;
$primaryColor: #23A6F0;
$disableColor: #8EC2F2;
$secondaryColor: #F3CD03;

@mixin title-text($color) {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $color;
}
@mixin text-big($color) {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $color;
}
@mixin text-medium($color) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $color;
}
@mixin text-small($color) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $color;
}

/*Header*/
header {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #FAFAFA;;
    background-image: url('./assets/image/hero-cover.3.jpg');
    background-size: 100% 800px;
    background-repeat: no-repeat;
    color: $light-text-color;
    .my-navbar{
        position: relative;
        padding: 33px 0;
        z-index: 1;
        .logo {
            cursor: pointer;
            font: {
                family:$Montserrat;
                size:24px;
                weight:700;
            };
            line-height: 24px;
            letter-spacing: 0.1px;
            margin-right: 80px;
            transition: color 0.3s ease;
            &:hover{
                color: $primaryColor
            }
        }
        .toggle-icon-wrapper{
            padding-right:25px;
            button{
                padding: 0;
                &:nth-child(2){
                    margin: 0 16px;
                }
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .header-content {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 26%;
        color: $light-text-color;
        h1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 58px;
            line-height: 80px;
            text-align: center;
            letter-spacing: 0.2px;
            width: 700px;
            margin:0 auto ;
        }
        p { 
            font-family: $Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2px;
            margin-top: 40px;
        }
        .oval-btn {
            background-color: $primaryColor;
            color: white;
            text-align: center;
            padding: 15px 36px;
            margin-top: 40px;
            outline: none;
            border-radius: 37px;
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: bold;
            &:hover{
                background-color: #0b5ed7;
                border-color: #0b5ed7;
            }
            &:last-child{
                border: 1px solid white;
                background-color: transparent;
                margin-left: 10px;
                &:hover{
                    border-color:  $primaryColor;
                    background-color:  $primaryColor;
                }
            }
        }
    }
    
}

#navbarNav{
    justify-content: space-between;
    .menu {
        li {
            margin: 0 10px;
            a{  cursor: pointer;
                font: 14px $Montserrat;
                font-weight: 600;
                color: $light-text-color;
                letter-spacing: 0.2px;
                &:hover{
                    color: $primaryColor;
                }
            }
        }
    }
    .login{
        font: 14px $Montserrat;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover{
            color: $primaryColor
        }
    }
    .sub-btn{
        margin-left: 45px;
        font: 14px $Montserrat;
        font-weight: 600;
        width: 214px;
        height: 52px;
        background: $primaryColor;
        border-radius: 5px;
        outline: none;
        border: none;
    }
}
.header-card {
    position: absolute;
    flex-wrap: nowrap;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    .header-card-item{
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        width: 340px;
        height: fit-content;
        color: black;
        margin: 0 15px;
        padding: 35px 40px;
        border-radius: 0;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        img{
            width: 20%;
        }
        .card-body{
            padding: 0;
            margin-top: 10px;
            h5{
                @include text-big($text-color);
            }
            p{
                @include text-small($second-text-color);
            }
        }
    }
}
.hover-card:hover{
    background-color: $primaryColor;
    border-color:$primaryColor ;
    transition: background-color 0.3s ease;
    img{
        filter: brightness(0) invert(1);
        transition:filter 0.3s ease ;
    }
    .card-body {
        h5,p{
            color: $light-text-color;
            transition: color 0.3s ease ;
        }
    }
}

/* Value block*/ 
.value{
    padding-top: 100px;
    padding-bottom: 80px;
    h2,p{
        text-align: center;
    }
    h2{
        @include title-text($text-color)
    }
    p{
        @include text-small($second-text-color);
        width: 470px;    
        margin: 10px auto 80px auto;
    }
}
.value-card-item {
    display: flex;
    flex-flow: row wrap;
    width: calc(33.333% - 20px);
    margin:10px;
    padding: 40px 15px;
    cursor: pointer;
    border-radius: 2px;
    img {
        display: block;
        width: 15%;
        height: 60%;
    }
    .card-body{
        width: fit-content;
        padding: 0;
        .card-title {
            @include text-medium($text-color);
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 210px;
            text-align: left;
        }
        .card-text {
            width: 210px;
            margin: 0 auto;
            text-align: left;
            @include text-small($second-text-color)
        }
    }
}

/*Client block*/ 
.client {
    background-color: #FAFAFA;
    padding-top:80px ;
}
.client-stats {
    justify-content: space-between;
    .big-number-wrapper {
        text-align: center;
        .number{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 58px;
            line-height: 80px;
            text-align: center;
            letter-spacing: 0.2px;
            color: $primaryColor;
            cursor: default;
        }
        .text {
            @include text-medium($text-color)
        }
    }
}
.client-testimo {
    padding: 100px 0;
    h2{
        @include title-text($text-color);
        text-align:center;
    }
    >p{
        @include text-small($second-text-color);
        width: 470px;
        text-align: center;
        margin: 10px auto 80px auto;
    }
    .client-card-wrapper{
        justify-content: center;
        align-items: center;
        .client-card-item {
            border-width: 0px;
            width: 510px;
            flex-direction: row;
            padding: 0;
            margin: 0 15px;
            img.mobile{
                display: none;
            }
        }
        .card-body {
            padding:40px 30px;
            .name {
                @include text-big($text-color);
                margin-bottom:0
            }
            .job{
                @include text-small($second-text-color);
                font-weight: 600;
                text-align:left;
            }
            .star{
                margin: 16px 0;
                svg{
                    fill: $secondaryColor;
                }
            }
            .text {
                @include text-small($second-text-color);
            }
        }
    }
}

/*About block on mobile*/ 
.about {
    display: none;
    padding: 100px 40px 200px;
    background: white;
    text-align: center;
    h2{
        @include title-text($text-color);
    }
    >p{
        @include text-small($second-text-color);
        width: 225px;
        margin: 10px auto 100px;
    }
    .about-video{
        position: relative;
        margin-bottom: 72px;
        >img{
            width: 100%;
        }
        .sub-btn{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient( rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
        }
    }
    .about-content{
        >p{
            &:nth-child(1){
                @include title-text($text-color);
                margin: 0 auto
            };
            &:nth-child(2){
                @include text-small($second-text-color);
                margin: 10px auto 50px auto;
            }
        }
        .about-team{
            display: flex;
            justify-content: center;
            &:last-child{
                margin-top: 30px;
            }
            img{
                width: 10%;
                height: 10%;
                margin-right: 20px;
            }
            h5 {
                @include text-medium($text-color);
                text-align: left
            }
            h6{
                @include text-small($second-text-color);
                text-align: left;
            }
        }
    }
}

/*Pricing block*/ 
.price {
    background-color: #FAFAFA;
    padding: 100px 0;
    h2{
        @include title-text($text-color);
        text-align:center;
    }
    >p{
        @include text-small($second-text-color);
        width: 470px;
        text-align: center;
        margin: 10px auto 80px auto;
    }
}
.price-card-wrapper {
    justify-content: center;
    align-items: flex-end;
    .price-card-items{
        text-align: center;
        padding: 50px 40px;
        border: 1px solid $primaryColor;
        border-radius: 10px;
        margin: 0.5px;
        width: 340px;
        &.center{
            padding-top: 70px;
            padding-bottom: 70px;
            background-color: $text-color;
            h3{
                color: $light-text-color;
            }
            .price-card-desc{
                color: $light-text-color
            }
            .feature-wrap {
                p{
                    color: $light-text-color
                }
            }
        }
        h3{
            @include text-big($text-color);
            margin-bottom: 35px;
        }
        .price-card-desc{
            @include text-medium($second-text-color);
            width: 160px;
            margin: 0 auto;
        }
    }
    .price-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 35px 0;
        .number {
            @include title-text($primaryColor);
            margin-right: 10px;
        }
        .currency{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span:first-child{
                @include text-medium($primaryColor)
            }
            span:last-child{
                @include text-small($disableColor)
            }
        }
    }
    .feature-wrap {
        .feature-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 18px;
            &:last-child{
                margin-bottom: 35px;
            }
            img{
                margin-right: 18px
            }
            p{
                @include text-small($text-color);
                font-weight: 600;
                text-align: left;
            }
        }
    }
    .sub-btn{
        margin: 0 auto;
        width: 246px;
    }
}

/*Contact*/ 
.contact {
    background-color: #FAFAFA;
    position: relative;
    height: 830px;
    padding-bottom:100px ;
    .map-container {
        height: 460px;
        img{
            width: 100%;
        }
    }
    .container-fluid{
        position: absolute;
        height: 85%;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
    }
    .contact-form {
        display: block;
        padding: 40px 60px;
        text-align: center;
        background-color: white;
        position: absolute;
        width: 100%;
        border-radius: 10px;
        h2{
            @include title-text($text-color)
        }
        p{
            @include text-medium($text-color)
        }
        .form-control {
            margin: 10px 0;
            border-radius: 5px;
        }
        #inputMessage{
            height: 140px;
            resize: none;
        }
        .sub-btn {
            margin-top: 30px;
            margin-bottom: 40px;
            width: 218px;
        }
    }
}
.contact-bottom {
    bottom: 0%;
    text-align: left;
    padding-bottom: 40px;
    .container-fluid {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        @include text-big($text-color)
    } 
    p{
        @include text-small($second-text-color)
    }
    .sub-btn{
        width: 160px;
    }
}
.subscribe-mobile {
    display: none;
    background-color: $text-color;
    padding: 90px 20px;
    h3 {
        @include text-big($light-text-color);
        text-align:center;
        margin-bottom: 30px;
    }
    form {
        display: flex;
        
        input{
            height: 58px;
            width: 220px;
            outline: none;
            border-width: 0;
            padding-left: 20px;
            border-radius: 5px 0 0 5px;
        }
        .sub-btn {
            height: 58px;
            width: 110px;
            font-weight: normal;
            margin-left: 0;
            border-radius: 0 5px 5px 0;
            border: 1px solid white;
        }
    }
    
}

/*Footer*/ 
footer{
    background-image: linear-gradient(to right,#004788,#D71489);
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        .footer-item_title {
            @include text-medium($light-text-color);
            text-align: left;
            margin-bottom: 15px;
            cursor: default
        }
        .footer-item_link {
            @include text-small($light-text-color);
            font-weight:600;
            line-height: 24px;
            padding: 5px 0;
            &:hover{
                a{
                    color: $primaryColor;
                    transition: color 0.3s ease;
                }
                img {
                    filter: invert(49%) sepia(100%) saturate(419%) hue-rotate(159deg) brightness(96%) contrast(97%);
                    transition: filter 0.3s ease;
                }
            }
            img {
                margin-right: 10px;
            }
        }
    }
    .coppy-right-wrapper {
        background-color: #FAFAFA;
        padding: 25px 0;
        .container-fluid{
            display: flex;
            justify-content: space-between;
            p{
                @include text-small($second-text-color);
                font-weight: 600;
            }
            img {
                margin: 0 10px;
            }
        }
        .coppy-right_image.mobile {
            display: none;
        }
    }
}